<h2>Contacts</h2>
<a href="#/new" class=" btn btn-default ">Add</a>
<br class="bottom-space"/>
<div class="table-responsive">
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts">
            <td>{{contact.FirstName}} {{contact.LastName}}</td>
            <td>{{contact.Email}}</td>
            <td>{{contact.Phone}}</td>
            <td><a href="#/edit/{{contact.Id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><button ng-click="delete(contact.Id, contact.FirstName, contact.LastName)" class="btn btn-link" style="padding: 0px 12px 6px 12px"><span class="glyphicon glyphicon-remove blue"></span></button></td>
        </tr>
    </tbody>
</table>
</div>